<p>
    Hallo {{ name }}, kamu terpilih sebagai peserta vote pada {{ room }}.
    <br><br><br>
    Dan untuk melakukan vote, kamu harus memasukan token, dan ini token kamu.
    <br>
    Tapi ingat token ini bersifat <b>RAHASIA</b> dan tidak boleh kamu berikan ke siapapun.
    <br>
    {{ token }}
    <br><br>
    Kamu bisa membuka link ini untuk melakukan vote
    <a style="text-decoration: none;" href="{{ url }}/voting">Mulai vote</a>
    <!-- <a style="text-decoration: none;" href="https://vote.dynasis.web.id/voting">Mulai vote</a> -->
    <br><br>
    Semoga pilihanmu menjadi yang terbaik untuk semua yaa.
</p>